[tool.poetry]
name = "reflex-chakra"
version = "0.6.0a1"
description = "reflex using chakra components"
authors = [
    "Elijah Ahianyo <elijah@reflex.dev>"
]
readme = "README.md"
packages = [{include = "reflex_chakra"}]

[tool.poetry.dependencies]
python = "^3.8"
reflex = ">=0.6.0a"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
