[tool.poetry]
name = "reflex-chakra"
version = "0.7.0"
description = "reflex using chakra components"
authors = ["Elijah Ahianyo <elijah@reflex.dev>"]
readme = "README.md"
packages = [{ include = "reflex_chakra" }]

[tool.poetry.dependencies]
python = "^3.9"
reflex = ">=0.6.0a"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.1.2,<8.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
